html,
body {
	margin: 0;
	padding: 0;
	width: 600px;
	height: 400px;
}

body {
	background: linear-gradient(45deg, #a5a299 10%, #8d818c 100%);
	box-sizing: border-box;

	display: flex;
	flex-direction: column;

	align-items: stretch;
	justify-content: stretch;
}

.header {
	font-family: "Brush Script MT", cursive;
	font-size: 20px;
	padding: 0 12px;
	margin-bottom: 2px;
}

.container {
	box-sizing: border-box;
	color: #fefffe;
	display: flex;
}

.show-password-container {
	margin: 4px 0 0 4px;
	box-sizing: border-box;
	color: #fefffe;
	display: flex;
	flex-direction: row;

	.password-checkbox-hint {
		margin-left: 4px;
	}
}

.wide {
	flex-direction: column;
	flex: 0 1;
	padding: 12px;
}

.inline {
	padding: 4px 12px;
	flex: 0 1;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	border-bottom: #fefffe 2px solid;
	border-radius: 2px;
	background-color: rgba(0, 0, 0, 0.1);
}

.full-size {
	padding: 12px;
	flex: 1 1;
	flex-direction: column;
}

.token-input {
	outline: none;
	box-sizing: border-box;

	color: #fefffe;
}

.analyze-body {
	white-space: normal;
	overflow-wrap: break-word;
	word-break: break-word;
}

.text-field {
	flex: 1 1;
	font-family: Arial, sans-serif;
	padding: 12px;

	border: 2px solid #fefffe;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 6px;
}

.settings-button {
	background: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 0;
}

.settings-button:hover .settings-icon {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 6px;
}

.settings-icon {
	display: block;
}

#settings-menu {
	position: fixed;
	inset: 0;
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	background: linear-gradient(45deg, #a5a299 10%, #8d818c 100%);
	padding: 0;
	color: #fefffe;
	z-index: 10;
}

#settings-menu.show {
	display: flex;
}

.token-input {
	flex: 0 0 auto;
	width: 100%;
	min-height: auto;
}