html,
body {
  margin: 0;
  padding: 0;

  font-family: "Brush Script MT", cursive;

  width: 600px;
  height: 400px;
}

body {
  background: linear-gradient(45deg, #a5a299 10%, #8d818c 100%);
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  align-items: stretch;
  justify-content: stretch;
}

.token-header {
  padding: 0 12px;
}

.container {
  display: flex;
  flex-direction: column;

  margin: 12px;
  box-sizing: border-box;
  color: #fefffe;
}

.wide {
  flex: 0 1;
}

.full-size {
  flex: 1 1;
}

.token-input {
  outline: none;
  box-sizing: border-box;

  color: #fefffe;

  margin-top: 2px;
  width: 100%;
}

.analyze-body {
  flex: 1 1;

  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

.text-field {
  font-family: Arial, sans-serif;
  padding: 12px;

  border: 2px solid #fefffe;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
